/* Zuz Generated CSS */

.zt00acjc { text-decoration:none; }
.zt00cqk2:hover { text-decoration:underline; }
.zc00ghk5 { color: var(--primary); }
.zb00blc4 { background-image: linear-gradient(92deg, var(--primary), #2488c8); }
.zb00d5ia { background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b); }
.zf00afsr { font-size: 24px; }
.zf001np7 { font-weight: bold; }
.zf00e5gc { font-size: 16px; }
.zw00erzf { width: 500px; }
.zp003pzj { padding: 20px; }
.zb000i3h { border-radius: var(--radius); }
.zd00bc0j { display:flex; }
.za009bpl { align-items:center; }
.zj005put { justify-content:center; }
.zf00dt21 { flex-direction:column; }
.zm00gqm3 { margin-top: 25px; }
.zf005l3u { font-size: 50px; }
.zm0036pp { margin-bottom: 25px; }
.zc006sht { color: var(--red-800); }
.zc00hzue { color: var(--green-700); }
.zp0077xb { position:relative; }
.zp00m92a { position:absolute; }
.zt000iof { top:50%;left:50%;--abc-x:-50%;--abc-y:-50%;translate:calc(var(--abc-x) + var(--fx-x, 0px)) calc(var(--abc-y) + var(--fx-y, 0px)); }
.zc002cbg { corner-shape: round !important; }
.zb00dkp7 { border-radius: 50%; }
.zb001ibk { background: var(--orange-500); }
.zb00cs8l { background: var(--green-500); }
.zb000h5r { background: var(--red-500); }
.zb00f2zr { background: var(--text); }
.zo00b9vf { opacity: 0.6; }
.zf00kfq6 { font-size: 18px; }
.zz0097k0 { z-index: 3; }
.zw000esk { width: 100%; }
.zp005x8j { padding: 20vh 20px 20px 20px; }
.zh00j3hs { height: 10px; }
.zp003u0v { padding: 30px 25px; }
.zz00lr8f { z-index: 99; }
.zp00kixz:ph { padding: 20px; }
.zh009hhx { height: 60px; }
.zb00e9io { background: var(--body); }
.zf0052em { flex: 1; }
.zj00hibb { justify-content:flex-end; }
.zg00818v { gap: 10px; }
.zb00jkrj { background: transparent !important; }
.zc006e86 { color: var(--text); }
.zg003750 { gap: 6px; }
.zf00hrpy { font-size: 10px; }
.zm00260e { margin-left: 20px; }
.zm00g7f4 { margin-right: 1px; }
.zp00hycq { padding: 4px 10px; }
.zb00ail2 { border: 1px var(--button-link-border) solid; }
.zb000exx { border-radius: 20px 0px 0px 20px; }
.zb00iem1 { background: var(--button-link); }
.zb00g0ui:hover { background: var(--primary); }
.zb00c30c:hover { border: 1px var(--primary) solid; }
.zc00dnd2:hover { color: #fff; }
.zs00kbnu:hover { scale: 1.1; }
.zt003a1q { transition: all 0.1s ease-in-out 0s; }
.zb008hph { border-radius: 0px 20px 20px 0px; }
.zm00l6ns { margin-bottom: 20px; }
.zw007vqk { width: 100vw; }
.zh002jjq { height: 100vh; }
.zw002asp { width: 300px; }
.zg00ebip { gap: 12px; }
.zw001gar { width: 100% !important; }
.zf007v6i { font-size: 14px; }
.zo008bwa { opacity: 0.5; }
.zm00jzbt { margin-top: 50px; }
.zm00auef { min-height: 100vh; }
.zw00luq3 { width: calc(100vw - 60px); }
.zo0052dv { overflow-x: hidden; }
.zo00eyu9 { overflow-y: auto; }
.zg00ibpv { gap: 50px; }
.zg00cidw { gap: 15px; }
.zg009heu { gap: 8px; }
.zf00kcc7 { font-size: 20px; }
.zw0026ho { width: 60px; }
.zb001xdt { background: var(--dim-light); }
.zg00bajn { gap: 5px; }
.zp005mib { padding: 15px; }
.zp0015da { padding: 10px; }
.zf00m45q { font-size: 9px; }
.zt00kcz0 { text-align: center; }
.zw00iu8t { width: 25px; }
.zh004c9f { height: 40px; }
.zb0098c1:hover { background: var(--dim-hover); }
.zo00aubg:hover { opacity: 1; }
.zb005w8d { background: var(--dim-hover); }
.zo00k3su { opacity: 0.9; }
.zw005hdw { width: 90vw; }
.zm004neb { max-width: 50vw; }
.zp00bfua { padding: 50px; }
.zm009out { margin-top: 10px; }
.zw00512k { width: 160px !important; }
.zm00c9h2 { margin-top: 20px; }
.zf001kwo { font-size: 12px; }
.zm00dnmz { margin-bottom: 5px; }
.zm00eu3b { margin-top: 30px; }
.zm00j2cj { margin: 20px 0px 5px 0px; }
.zp00hnob { padding: 20px 20px 0px 20px; }
.zb00hsli { background: 000px; }
.zh0065z4 { height: 100px; }
.zg00jdya { gap: 4px; }
.zw00jrxm { width: 400px; }
.zo00e7uk { opacity: 0.7; }
.zw001e7z { width: 98%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; }
.zm005hbz { min-width: 800px; }
.zp00emu7 { padding: 25px 0px 10px 20px; }
.zb00k4xg { border-bottom: 1px var(--border) solid; }
.zp003coq { position:sticky; }
.zt003is9 { top: 0px; }
.zm005k8c { margin-bottom: 6px; }
.zp00jm9n { padding-left: 6px; }
.zp0091zv { padding: 0px 6px; }
.zp00kp6m { padding: 100px; }
.zg00alv4 { gap: 20px; }
.zu001lhm { user-select:none; }
.zm001g16 { min-width: 30px; }
.zw00gxq1 { width: 30px; }
.zh001rn6 { height: 30px; }
.zb004xqp { border-radius: 80px; }
.zf00fyl5 { font-size: 13px; }
.zf00jaou { font-size: 36px; }
.zp0089ui { padding: var(--page-padding); }
.zh0013jp { height: 15px; }
.zb0096gw { background: var(--dim-light) !important; }
.zw002oiy { width: 500px !important; }
.zl000ov0 { left: 50%;--abc-x: -50%;translate: calc(var(--abc-x) + var(--fx-x, 0px)) var(--fx-y, 0px); }
.zb004a0f { bottom: 40px; }
.zz004pse { z-index: 10; }
.zg00d3og { gap: 2px; }
.zb000wfu { border-radius: 100px; }
.zp000pnk { padding: 3px; }
.zw005n09 { width: 40px !important; }
.zh00epoy { height: 40px !important; }
.zp00ezyp { padding: 14px !important; }
.zb006zpb:hover { background: var(--dim) !important; }
.zh008xkq { height: 100dvh; }
.zo007yoe { overflow: hidden; }
.zh007pst { height: 100%; }
.zb007icy { border-radius: 90px; }
.zc00av3h { cursor: pointer; }
.zb00d5a8:hover { background: var(--dim); }
.zb0001b0 { background: var(--dim); }
.za00f5ij { aspect-ratio: 1/1; }
.zb00bxgb { border-radius: var(--radius-md); }
.zb00kvqv { background: var(--gray-500); }
.zb00fr3h { background: linear-gradient(45deg, #cd6a19, #7204ff); }
.zc00289u { color: #fff; }
.zp000q3a { padding: 5vw 20vw; }
.zd002ve2 { display:grid; }
.zg004q5j { grid-template-columns: repeat(5,1fr); }
.zg007d69 { grid-template-rows: repeat(5,1fr); }
.zc006gbo { color: var(--primary) !important; }
.zw00ho00 { width: 50vw; }
.zg00d6hd { gap: 30px; }
.zm004ri3 { max-width: 200px; }
.zm009rga { max-width: 100px; }
.zb00fsaj { background: var(--btn-tab-hover); }
.zp00c02u { padding-left:10px;padding-right:10px; }
.zb00bk0u { border-bottom: 1px var(--btn-tab) solid; }
.zo00jlb4 { overflow-x: auto; }
.zo003pp0 { overflow-y: hidden; }
.zp002x9g { padding: 8px !important; }
.zp003bb3 { padding: 3px 8px !important; }
.zh00lo41 { height: 20px; }
.zp00d87d { padding: 3px 10px; }
.zb00jb1m { background: var(--btn-tab); }
.zf009obb { font-size: 11px; }
.zh004o6t { height: calc(100vh - 60px); }
.zm00807k { min-height: 0px; }
.zw007f8e { width: calc(100vw - 270px); }
.zb00l7uv { border-radius: 30px 0px 0px 30px; }
.zw00jsaj { width: calc(100vw - 330px); }
.zp0063ik { padding: 0px 25px; }
.zw009s18 { width: 600px; }
.zm0078sf { max-width: 600px; }
.zp004n4r { padding: 0px 20px 20px 20px; }
.zm002nh7 { margin-top: 70px; }
.zw00hdaf { width: 200px !important; }
.zm000aqq { max-width: 270px; }
.zp00874k { padding: 25px; }
.za00gcxm { align-self:flex-start; }
.zb00bz4b { border-radius: 20px; }
.zp004xkc { padding: 6px 10px; }
.zb006v9h:hover { background: var(--dim-light); }
.zm0028u8 { max-width: 700px; }
.zp008ffg { padding: 20px 50px; }
.zm00hepk { margin-top: 40px; }
.zg00hwk9 { grid-template-columns: repeat(5,300px); }
.za00kxg3 { aspect-ratio: 1px; }
.zb001cuf { border-radius: var(--app-item-radius); }
.zt00licf { transition: all 0.2s ease-in-out 0s; }
.zb008fg2:hover { box-shadow: 0px 0px 0px 5px var(--dim-hover); }
.zp006als { padding: 30px; }
.zw00m2yj { width: 50px; }
.zh006wvo { height: 50px; }
.zb008o1r { background: var(--manatee-500); }
.zo00jedt { opacity: 0.75; }
.zm00anu1 { margin-top: 5px; }
.zb006roa { bottom: -20px; }
.zb005y2z { background: var(--surface); }
.zp00fzgu { padding: var(--padding-md); }
.zb00cs7l { border-radius: 90px !important; }
.zf00etom { font-size: var(--text-lg); }
.zf007gro { font-size: var(--text-md); }
.zf001n0z { font-size: var(--text-sm); }
.zw00k8m9 { width: 60vw; }
.zf00lcdz { font-size: var(--text-xl); }
.zf00m8uz { font-size: 15px; }
.zm001a6x { margin-bottom: 30px; }